
<%- @title = help_title(params[:action]) -%>
<%- @topic_path << [@title] %>

<h1><%= @title %></h1>

<h2>キーワードが展開される箇所</h2>

<ul>
  <li>メール通知のタイトル</li>
  <li>メール通知の本文</li>
  <li>WebHookのURL</li>
  <li>WebHookのPOSTデータ</li>
</ul>

<h2>関連するヘルプ</h2>

<ul>
  <li><%= help_link(:keywords, :icon => false) %></li>
</ul>
