.DS_Store
*.log
*.sqlite3
server/batty/*.sh
server/batty/bin/
server/batty/db/schema.rb
server/batty/nbproject/
server/batty/tmp/cache/
server/batty/tmp/pids/
server/batty/tmp/sessions/
server/batty/tmp/sockets/
