
body
{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F0F0F0;
}


div#head-outer
{
    width: 100%;
    min-width: 700px;
    height: 100px;
background-color:red;
}

div#body-outer
{
    position : relative;
    min-width: 700px;
    width: 100%;
/*background-color:green;*/
/*
background-image: url(../images/background.png);
background-repeat: repeat-y;
background-position: right;
*/
}

div#content-column-outer
{
    margin: 0px 200px 0px 0px;
}

div#content-column-inner
{
    padding: 10px;
/*background-color:gray;*/
}

div#side-column-outer
{
    width: 200px;
    min-height: 400px;
    float: right;
/*background-color:yellow;*/
}

div#side-column-inner
{
    padding: 10px;
}

div#foot-outer
{
    width: 100%;
    min-width: 700px;
    height: 100px;
background-color:blue;
}


div.battery-cell
{
    margin: 0;
    padding: 4px 7px 4px 5px;
    width: 100px;
    height: 13px;
    background-image: url(/images/battery/cell.png);
    background-repeat: no-repeat;
}

div.battery-level
{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 13px;
}

div.battery-high,
div.battery-middle,
div.battery-low,
div.battery-empty
{
    margin: 0;
    padding: 0;
    height: 13px;
    background-repeat: repeat-x;
}

div.battery-high
{
    background-image: url(/images/battery/level-green.png);
}

div.battery-middle
{
    background-image: url(/images/battery/level-orange.png);
}

div.battery-low
{
    background-image: url(/images/battery/level-yellow.png);
}

div.battery-empty
{
    background-image: url(/images/battery/level-red.png);
}


ol#email-signup-progress
{
}

ol#email-signup-progress li
{
    display: inline;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

ol#email-signup-progress li.active
{
    font-weight: bold;
}

ol#email-signup-progress li.inactive
{
    font-weight: normal;
}
