
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= link_to(h("ログイン設定"), :controller => "/credentials") %> &gt;
  <em>OpenIDログイン情報の削除</em>
</div>

<h1>OpenIDログイン情報の削除</h1>

<div>削除します。よろしいですか？</div>

<table border="1">
  <tr>
    <th>OpenID</th>
    <td><%=h @open_id_credential.identity_url %></td>
  </tr>
</table>

<%- form_tag(:action => "destroy") { -%>
  <div><%= submit_tag("削除") %></div>
<%- } -%>
