
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= link_to(h("ログイン設定"), :controller => "/credentials") %> &gt;
  <em>OpenIDログイン情報の削除</em>
</div>

<h1>OpenIDログイン情報の削除</h1>

<div>削除します。よろしいですか？</div>

<%- form_tag(:action => "destroy") { -%>
  <%= submit_tag("削除") %>
<%- } -%>
