
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= device_name_link(@device) %> &gt;
  <em>デバイスの削除</em>
</div>

<h1>デバイスの削除</h1>

<div>削除します。よろしいですか？</div>

<table border="1">
  <tr>
    <th>デバイス名</th>
    <td><%=h @device.name %></td>
  </tr>
</table>

<%- form_tag(:action => "destroy") { -%>
  <div><%= submit_tag("削除") %></div>
<%- } -%>
