
<%- @title = "アクティベーション" -%>

<h1><%=h @title %></h1>

<table border="1">
  <tr>
    <th>メールアドレス</th>
    <td><%=h @email_credential.email %></td>
  </tr>
</table>

<%- form_tag(:action => "activate") { -%>
  <div><%= submit_tag("登録") %></div>
<%- } -%>
