
<h1>サインアップ</h1>

<%- form_tag(:action => "authenticate") { -%>
 <%= label_tag("openid_url", "OpenID URL") %>
 <%= text_field_tag("openid_url", @openid_url, :size => 20) %>
 <%= submit_tag("次へ") %>
<%- } -%>
