
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <em>ユーザ設定</em>
</div>

<h1>ユーザ設定</h1>

<table border="1">
  <tr>
    <th>ニックネーム</th>
    <td>
      <%= @login_user.nickname || "(未設定)" %>
      <span>[変更]</span>
    </td>
    <td>
      <%= in_place_editor_field :user, "nickname" %>
    </td>
  </tr>
  <tr>
    <th>登録日</th>
    <td><%= yyyymmdd(@login_user.created_at) %></td>
  </tr>
</table>
