
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <em>ユーザ設定</em>
</div>

<h1>ユーザ設定</h1>

<table border="1">
  <tr>
    <th>ニックネーム</th>
    <td>
      <span id="nickname"><%= @login_user.nickname %></span>
      <span id="nickname-edit">[編集]</span>
    </td>
  </tr>
  <tr>
    <th>登録日</th>
    <td><%= yyyymmdd(@login_user.created_at) %></td>
  </tr>
</table>

<script type="text/javascript">
  //<![CDATA[
  var authenticity_token = "<%= form_authenticity_token %>";
  new Ajax.InPlaceEditor(
    "nickname",
    "/settings/set_user_nickname/965563735",
    {
      callback: function(form) { return Form.serialize(form) + "&authenticity_token=" + encodeURIComponent(authenticity_token) },
      externalControl: "nickname-edit",
      externalControlOnly: true,
      okControl: "link",
      cancelControl: "link",
      okText: "保存",
      cancelText: "キャンセル",
      loadingText: "読込中...",
      savingText: "保存中...",
      clickToEditText: "",
      size:30
    });
  //]]>
</script>
