
<h1>仮登録完了</h1>

<%= render(:partial => "progress", :locals => {:step => 3}) %>

<%=h @signup_form.email %>宛にメールを送信しました。

<%- if false -%>
 <div class="debug">
  アクティベーショントークン: <%= link_to(h(@credential.activation_token), :action => "activation", :activation_token => @credential.activation_token) %>
 </div>
<%- end -%>

<%- if development? -%>
  <hr />
  <%= link_to(h("アクティベーション"), :action => "activation", :activation_token => @credential.activation_token) %>
<%- end -%>
