
<%- @title = "サインアップ" -%>

<h1>仮登録完了</h1>

<%= render(:partial => "progress", :locals => {:step => 3}) %>

<%=h @signup_form.email %>宛にメールを送信しました。

<%- unless production? -%>
  <div class="debug">
    <%= link_to(h("アクティベーション"), :action => "activation", :activation_token => @credential.activation_token) %>
  </div>
<%- end -%>
