
<%- @title = "サインアップ" -%>

<h1>登録確認</h1>

<%= render(:partial => "progress", :locals => {:step => 2}) %>

<table border="1">
  <tr>
    <th>メールアドレス</th>
    <td><%=h @signup_form.email %></td>
  </tr>
  <tr>
    <th>パスワード</th>
    <td><%=h @signup_form.masked_password %></td>
  </tr>
</table>

<%- form_tag(:action => "create") { -%>
  <div><%= submit_tag("登録") %></div>
<%- } -%>
