
<h1>キーワード</h1>

<h2>キーワードが展開される箇所</h2>

<ul>
  <li>メール通知のタイトル</li>
  <li>メール通知の本文</li>
  <li>WebHookのURL</li>
  <li>WebHookのPOSTデータ</li>
</ul>

<h2>キーワードの一覧</h2>

<%-
  time = Time.local(2010, 1, 2, 3, 4, 5)

  user = User.new(
    :user_token => "0" * User::TokenLength,
    :nickname   => "ニックネーム")

  device = Device.new(
    :user         => user,
    :device_token => "0" * Device::TokenLength,
    :name         => "デバイス名")

  event = Event.new(
    :device           => device,
    :created_at       => time,
    :trigger_operator => Trigger.operator_symbol_to_code(:eq),
    :trigger_level    => 100,
    :observed_level   => 100,
    :observed_at      => time)

  keywords = NoticeFormatter.format_event(event, time)
-%>

<%-
  description = {
    # 現在日時
    "now:datetime"      => "現在日時",
    "now:datetime:ja"   => "現在日時の日本語表記",
    "now:datetime:json" => "現在日時のJSON表記<br />（データが無い場合はnull）",
    "now:date"          => "現在日時の日付部分",
    "now:date:ja"       => "現在日時の日付部分の日本語表記",
    "now:date:json"     => "現在日時の日付部分のJSON表記<br />（データが無い場合はnull）",
    "now:time"          => "現在日時の時刻部分",
    "now:time:ja"       => "現在日時の時刻部分の日本語表記",
    "now:time:json"     => "現在日時の時刻部分のJSON表記<br />（データが無い場合はnull）",
    "now:yyyy"          => "現在日時の年（4桁）",
    "now:mm"            => "現在日時の月（2桁）",
    "now:dd"            => "現在日時の日（2桁）",
    "now:hh"            => "現在日時の時（2桁）",
    "now:nn"            => "現在日時の分（2桁）",
    "now:ss"            => "現在日時の秒（2桁）",
    # ユーザ
    "user:token"         => "ユーザトークン",
    "user:token:json"    => "ユーザトークンのJSON表記<br />（データが無い場合はnull）",
    "user:nickname"      => "ユーザのニックネーム",
    "user:nickname:json" => "ユーザのニックネームのJSON表記<br />（データが無い場合はnull）",
    # デバイス
    "device:token"      => "デバイストークン",
    "device:token:json" => "デバイストークンのJSON表記<br />（データが無い場合はnull）",
    "device:name"       => "デバイス名",
    "device:name:json"  => "デバイス名のJSON表記<br />（データが無い場合はnull）",
=begin
    "" => "",
=end
  }
-%>

<table border="1">
  <tr>
    <th>キーワード</th>
    <th>出力例</th>
    <th>説明</th>
  </tr>
  <%- keywords.to_a.sort_by { |k, v| k }.each { |key, value| -%>
    <tr>
      <td style="font-family: monospace;"><%=h key %></td>
      <td style="font-family: monospace;"><%=h value %></td>
      <td><%= description[key] %></td>
    </tr>
  <%- } -%>
</table>
