
<h1>キーワード</h1>

<h2>キーワードが展開される箇所</h2>

<ul>
  <li>メール通知のタイトル</li>
  <li>メール通知の本文</li>
  <li>WebHookのURL</li>
  <li>WebHookのPOSTデータ</li>
</ul>

<h2>キーワードの一覧</h2>

<%-
  time = Time.local(2010, 1, 2, 3, 4, 5)

  user = User.new(
    :user_token => "0" * User::TokenLength,
    :nickname   => "ニックネーム")

  device = Device.new(
    :user         => user,
    :device_token => "0" * Device::TokenLength,
    :name         => "デバイス名")

  event = Event.new(
    :device           => device,
    :created_at       => time,
    :trigger_operator => Trigger.operator_symbol_to_code(:eq),
    :trigger_level    => 100,
    :observed_level   => 100,
    :observed_at      => time)

  keywords = NoticeFormatter.format_event(event, time)
-%>

<table border="1">
  <tr>
    <th>キーワード</th>
    <th>出力例</th>
    <th>説明</th>
  </tr>
  <%- keywords.to_a.sort_by { |k, v| k }.each { |key, value| -%>
    <tr>
      <td style="font-family: monospace;"><%=h key %></td>
      <td style="font-family: monospace;"><%=h value %></td>
    </tr>
  <%- } -%>
</table>
