
<%- @title = "仮登録完了" -%>
<%- @topic_path << ["トップ", root_path] -%>
<%- @topic_path << ["ユーザ設定", url_for(:controller => "settings")] -%>
<%- @topic_path << [@title] -%>

<h1><%=h @title %></h1>

<div>指定されたメールアドレスにメールを送信しました。メールに記載されたURLにアクセスして、登録を完了してください。</div>
<div><%= link_to(h("ユーザ設定に戻る"), :controller => "settings", :action => "index") %></div>

<%- unless production? -%>
  <div class="debug">
    <%= link_to(h("アクティベーション"), :controller => "emails", :action => "activation", :activation_token => @email_address.activation_token) %>
  </div>
<%- end -%>
