
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= link_to(h("ユーザ設定"), :controller => "settings") %> &gt;
  <em>メールアドレスの削除</em>
</div>

<h1>メールアドレスの削除</h1>

<div>削除します。よろしいですか？</div>

<%- form_tag(:action => "destroy") { -%>
  <%= submit_tag("削除") %>
<%- } -%>
