
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= link_to(h("ユーザ設定"), :controller => "settings") %> &gt;
  <em>通知先メールアドレスの削除</em>
</div>

<h1>通知先メールアドレスの削除</h1>

<div>削除します。よろしいですか？</div>

<table border="1">
  <tr>
    <th>メールアドレス</th>
    <td><%=h @email_address.email %></td>
  </tr>
</table>

<%- form_tag(:action => "destroy") { -%>
  <div><%= submit_tag("削除") %></div>
<%- } -%>
