
<%- @title = "仮登録完了" -%>
<%- @topic_path << ["トップ", root_path] -%>
<%- @topic_path << ["ログイン設定", url_for(:controller => "/credentials")] -%>
<%- @topic_path << [@title] -%>

<h1><%=h @title %></h1>

<div>指定されたメールアドレスにメールを送信しました。メールに記載されたURLにアクセスして、登録を完了してください。</div>
<div><%= link_to(h("ログイン設定に戻る"), :controller => "/credentials", :action => "index") %></div>

<%- unless production? -%>
  <hr />
  <%= link_to(h("アクティベーション"), :controller => "credentials/email", :action => "activation", :activation_token => @email_credential.activation_token) %>
<%- end -%>
