<h1>Dashboard</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>デバイス</th>
        <th>バッテリー残量</th>
        <th>トリガー</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
    <%- @devices.each do |device| -%>
      <tr>
        <td><%=h device.name %></td>
        <td><%=h device.current_energy.try(:observed_level) %></td>
        <td><%=h device.triggers.enable.count %></td>
        <td>アクション</td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
</div>
